<div class="container" id="postcontainer">
{{>header}}
<!-- {{#if user}}
welcome {{user.username}}
{{/if}}
 -->
{{#if posts}}
{{#list posts}}
	{{this.title}}  <a href="\/{{this.url}}" id="posta">({{this.url}})</a>
	<p id="posta">by {{this.name}} | <a href="/post/hide/{{this._id}}"id="posta">hide</a> | 
	<a href="/post/comment/{{this._id}}" id="posta">comment</a></p>
{{/list}}
{{else}}
No posts
{{/if}}
<a href="/more" id="posta" style="font-size:10pt;">more</a>
</div>